.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5a4a6d;
  height: 50px;
  padding-left: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 998;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #f0f0f0;
}

.navbar-icon {
  font-size: 1.5em;
  margin-right: 10px;
  color: #f0f0f0;
}

.navbar-icon:hover {
  color: #f0f0f0;
}

.navbar-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #f0f0f0;
}

.navbar-title:hover {
  color: #f0f0f0;
}

.navbar-list {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  height: 100%;
  border-left: 2px solid rgba(240, 240, 240, 0.2);
}

.navbar-item {
  margin: 0;
}

.navbar-item + .navbar-item {
  border-left: 2px solid rgba(240, 240, 240, 0.2);
}

.navbar-item:last-child {
  border-right: 2px solid rgba(240, 240, 240, 0.2);
}

.navbar-button {
  background: none;
  border: none;
  color: #f0f0f0;
  font-size: 1.1em;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  height: 100%;
}

.navbar-button:hover {
  background-color: #6b5a83;
}

@media (max-width: 768px) {
  .navbar-brand {
    display: none;
  }

  .navbar {
    padding-left: 0px;
  }
  
  .navbar-list {
    margin: 0;
  }

  .navbar-button {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

  .navbar-item {
    width: 100%;
  }
}
