.projects-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3a2a4d;
}

.card-wrapper{
  width: 30vw;
  height: 60vh;
  overflow: visible;
}