.experience-card {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #3a2a4d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: start;
  padding: 10vh 50px 50px;
  box-sizing: border-box;
}

.experience-column {
  color: #f0f0f0;
  width: 30%;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 1;
}

.experience-column h1 {
  margin-bottom: 40px;
  text-align: center;
}

.separator {
  width: 2px;
  height: 80%;
  background-color: #f0f0f0;
  display: block;
}

@media (max-width: 768px) {
  .experience-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 20px 20px 20px;
    height: fit-content;
  }

  .experience-column {
    margin: 20px 0;
    max-width: 90%;
    min-width: 90%;
    flex-grow: 0;
  }

  .separator {
    width: 80%;
    height: 2px;
    margin: 20px auto;
  }
}
